:root {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #242424;
  background-color: #e5e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Font dengan variasi weight thin */
@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Heavy.otf") format("otf");
  font-weight: 800;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-ExtraLight.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}
